.chart-container {
    // display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   height: auto; // Dynamically sizes to fit the chart
    //   margin: 0 auto;
    //   max-width: 100%;
    //display: flex;
    display: block;
    width: 100%;
    height: 100%;    
  }