<mat-toolbar color="primary" class="header-title">Dashboard</mat-toolbar>

<div class="dashboard-content">
  <mat-card class="stat-card">
    <h3>Steps Taken</h3>
    <p>10,000</p>
  </mat-card>
  <mat-card class="stat-card">
    <h3>Total Calories Burned</h3>
    <p>1,200</p>
  </mat-card>
  <mat-card class="stat-card">
    <h3>Active Minutes</h3>
    <p>240</p>
  </mat-card>
  <mat-card class="stat-card">
    <h3>Heart Rate</h3>
    <p>70</p>
  </mat-card>
  <mat-card class="stat-card">
    <h3>BMI</h3>
    <p>25%</p>
  </mat-card>
  <mat-card class="stat-card">
    <h3>Weight</h3>
    <p>240lbs</p>
  </mat-card>
  <mat-card class="chart-card">
    @defer (on timer(250ms)) {
    <app-chart [chartType]="ChartType.STEPS"></app-chart>
    } @placeholder {
    <p>Chart loading...</p>
    }
  </mat-card>
  <mat-card class="chart-card">
    @defer (on timer(250ms)) {
    <app-chart [chartType]="ChartType.MACRONUTRIENTS"></app-chart>
    } @placeholder {
    <p>Chart loading...</p>
    }
  </mat-card>
</div>
