<div class="d-flex flex-column h-100">
  <div class="h-100">
    <h2>Home page</h2>

    <div class="mb-4">
      <label for="customerName">Customer Name</label>
      <select
        id="customerName"
        name="customerName"
        (change)="onSelectedCustomer($event.target)"
      >
        <option value="" disabled selected>-- Select a customer --</option>
        @for (customer of data(); track customer.id) {
        <option [value]="customer.id">
          {{ customer.firstName }} {{ customer.lastName }}
        </option>
        }
      </select>
    </div>

    @if(selectedCustomerId()) {
    <app-customer-detail [id]="selectedCustomerId()!"></app-customer-detail>
    }
  </div>

  <div><h3>Some footer text</h3></div>
</div>
